%html
	%head
		%title= @model.artist_name
	%body
		= partial("login_partial")
		= partial("basket_partial")
		= partial("artist_partial")
		%h2 Releases
		- @model.releases.each do |release|
			%p
				%a(href="/release/#{release.id}") #{release.artist.name} - #{release.title}
