%html
	%head
		%title Locker
		%link{:type => "text/css", :href=>"/stylesheets/screen.css",:rel=>"stylesheet"}
		%link{:type => "text/css", :href=>"/stylesheets/print.css",:rel=>"stylesheet"}
		/[if IE]
		%link{:type => "text/css", :href=>"/stylesheets/ie.css",:rel=>"stylesheet"}
	%body
		= haml(:'partials/login_partial',:layout=>false)
		= haml(:'partials/basket_partial',:layout=>false)
		= haml(:'partials/search_partial',:layout=>false)

		%div{:class => 'container'}
			%h2 Locker
			%p
				- if @page_number > 1
					%a{:href=>"/locker/#{@page_number-1}"} Previous Page
				\-
				- if @page_number < @locker.locker_releases.total_pages
					%a{:href=>"/locker/#{@page_number+1}"} Next Page
			- @locker.locker_releases.each do |locker_release|
				%b
					=locker_release.release.artist.name
					\-
					=locker_release.release.title
				%p
					%ul
						- locker_release.locker_tracks.each do |locker_track|
							%li
								=locker_track.track.artist.name
								\-
								=locker_track.track.title
								\-
								%a{:href=>"/locker/#{@page_number}/download/#{locker_release.release.id}/#{locker_track.track.id}"}
									Download Track
								\-
								%a{:href=>"/locker/stream/#{locker_release.release.id}/#{locker_track.track.id}"}
									Stream Track
