%html
	%head
		%title= @model.artist_name + "-" + @model.release_name
		%link{:type => "text/css", :href=>"/stylesheets/screen.css",:rel=>"stylesheet"}
		%link{:type => "text/css", :href=>"/stylesheets/print.css",:rel=>"stylesheet"}
		/[if IE]
		%link{:type => "text/css", :href=>"/stylesheets/ie.css",:rel=>"stylesheet"}
	%body
		= partial("login_partial")
		= partial("basket_partial")
		= partial("search_partial")
		%div{:class => 'container'}
			= partial("release_partial")
			= partial("release_tracks_partial")
			= partial("release_player_partial")