%html
	%head
		%title Search Results
		%link{:type => "text/css", :href=>"/stylesheets/screen.css",:rel=>"stylesheet"}
		%link{:type => "text/css", :href=>"/stylesheets/print.css",:rel=>"stylesheet"}
		/[if IE]
		%link{:type => "text/css", :href=>"/stylesheets/ie.css",:rel=>"stylesheet"}
	%body
		= haml(:'partials/login_partial',:layout=>false, :locals => {:model => locals[:model]})
		= haml(:'partials/basket_partial',:layout=>false, :locals => {:model => locals[:model]})
		= haml(:'partials/search_partial',:layout=>false, :locals => {:model => locals[:model]})
		%div{:class => 'container'}
			%h2= "Search For: #{locals[:model].search_value} (Maximum of #{locals[:model].page_size} results)"

			%h3 Release Results
		
			- locals[:model].releases.each do |release|
				#container
					=haml(:'partials/release_small_partial',:layout=>false,:locals=>{:release=>release})

			%h3 Artist Results

			- locals[:model].artists.each do |artist|
				#container
					=haml(:'partials/artist_small_partial',:layout=>false,:locals=>{:artist=>artist})

			%h3 Track Results
	
			- locals[:model].tracks.each do |track|
				%p
					%a(href="/release/#{track.release.id}") #{track.artist.name} - #{track.title}
			

		
		
